.title{
    font-size: 20px
}

.colourGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 
}

.colourSubGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}


.itemClassDefault {
    transition-duration: 1s;
    background-color: black;
    color: black;

}

.itemClassActive {
    background-color: white;
    color: white;
}


.div {
    margin: 0px;
    padding: 0px;
}

.main {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
}

.box {
    transition-duration: 1s;
    display: inline-block;
    width: 6.25%;
    height: 2em;
    box-sizing: border-box;
    background-color: black;
    margin-bottom: -4px;
    padding: 0px;
}

.activeBox {
    display: inline-block;
    width: 6.25%;
    height: 2em;
    box-sizing: border-box;
    background-color: rgba(255,255,255,1);
    margin-bottom: -4px;
    padding: 0px;
}