.title{
    font-size: 20px;
}

.div {
    margin: 0px;
    padding: 0px;
}

.main {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
}

.row {
    margin: 0px;
    padding: 0px;
}

.box {
    position: relative;
    transition-duration: 1.25s;
    display: block;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,1);
    padding-bottom: 100%;
}

.activeBox {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
